.contact_section{
    text-align: right;
}

.me{
    text-align: right;
    font-family: 'Shadows Into Light Two', cursive;
}


.intro{
    text-align: center;
    padding: 50px;
    font-family: 'Merienda', cursive;  
    }
.portfolio{
    padding:15px;
    text-align: center;
    font-family: 'Merienda', cursive;  
}
    

#port{
    text-align: center;
    background: rgba(31, 89, 143, 0.849);
    font-family: 'Marck Script', cursive;  
}
#abtme{
    background:rgba(31, 89, 143, 0.849);
    font-family: 'Marck Script', cursive;  
}
img{
    border-radius: 8px;
    width: 100px;
    float: left;
}

.contact_section{
    font-family: 'Merienda', cursive;  
}

#contact{
font-family: 'Marck Script', cursive;
 }

